# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE and Editor folders
.vscode/
.idea/
*.swp
*.swo

# Docker & Data
data/
logs/

# Mac
.DS_Store
